/* ----------media query---------- */
/* @media (max-height: 1000px) {
    .sidebar-section-left-icons::after {
        bottom: 99.5%;
    }

    .user2-main {
        height: 66vh;
    }
}

@media (max-height: 695px) {
    .user2-main {
        height: 48vh;
    }
} */

@media (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

}


@media (max-width: 1440px) {
    /* .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6,
    .about-content-main,
    .services-content-main,
    .resume-content-main,
    .portfolio-content-main,
    .contact-content-main {
        padding: 50px;
        padding-left: 400px;
        padding-right: 140px;
    } */

    .home-content img {
        top: -1.2vw;
    }

    .user2-main {
        height: 62vh;
    }

    .onclick-image img {
        height: 55vh;
    }

    .contact-content-main .contact form .textarea-feild span,
    .contact-content-main .contact form .input-box span {
        border: 1px solid var(--second-bg-color);
    }
}




@media (max-width: 1300px) {
    .user2-main {
        height: 62vh;
    }
}




@media screen and (max-width: 1240px) {
    .home-content img {
        display: none;
    }

    .user2-main {
        height: 53vh;
    }

    .info-detail,
    .info-detail h2 {
        text-align: center;
        justify-content: center;
    }
}





@media (max-width: 1024px) {
    .swiper-button i {
        display: none;
    }

    .info-detail,
    .info-detail h2 {
        text-align: center;
        justify-content: center;
    }

    .about-content-main .skills-box {
        padding-bottom: 15px;
    }

    .onclick-image .cross {
        height: 12%;
    }

    .user2-main {
        height: 45vh;
    }

    .contact-content-main .contact form .textarea-feild span,
    .contact-content-main .contact form .input-box span {
        border: none;
    }
}






@media (max-width: 940px) {
    .sidebar-section-left {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        width: 100%;
        max-width: 250px;
        transition: .55s;
    }

    .sidebar-section-left.active4 {
        left: 0;
    }

    .sidenav2 .closebtn {
        display: block;
    }

    .open-sidebar i.active4 {
        left: 250px;
    }

    .open-sidebar-section-left {
        display: block;
    }

    .user2-main {
        height: 45vh;
    }

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6,
    .about-content-main,
    .services-content-main,
    .resume-content-main,
    .portfolio-content-main,
    .contact-content-main {
        padding: 50px;
        /* padding-bottom: 80px; */
        padding-left: 120px;
        padding-right: 120px;
    }

    .services-content-main #popupOne.active3,
    .services-content-main #popupTwo.active3,
    .services-content-main #popupThree.active3,
    .services-content-main #popupFour.active3,
    .services-content-main #popupFive.active3,
    .services-content-main #popupSix.active3 {
        left: 50%;
    }

    .about-content-main .about-me img {
        width: 50vh;
        height: auto;
    }
}




@media (max-width: 768px) {

    .cursor-1,
    .cursor-2 {
        display: none;
    }


    .home-content {
        padding: 32px;
    }

    .info-detail,
    .info-detail h2 {
        text-align: center;
        justify-content: center;
    }

    .about-content-main .about-info {
        display: block;
        flex-wrap: nowrap;
    }

    .about-content-main .about-info .info-detail {
        flex: 1 1 2rem;
        margin: 0 0rem;
    }
}





@media (max-width: 700px) {

    .info-detail,
    .info-detail h2 {
        text-align: center;
        justify-content: center;
    }

    .home-content h3 {
        font-size: 4.5vw;
    }

    .text-animate i,
    .text-animate .slash {
        font-size: 1.2rem;
    }

    .home-content h4 {
        font-size: 1.8rem;
    }

    .home-content .btn-box a,
    .card_box .btn-box a,
    .about-content-main .about-text .btn-box a,
    .portfolio-contact-box .btn-box a,
    .contact-content-main .contact form .btn-box {
        font-size: 1.3rem;
    }

    .home-content-5 .logo-img img {
        width: 190px;
    }

    .portfolio-head {
        text-align: center;
        display: block;
    }

    .portfolio-contact-box h1 {
        font-size: 4vw;
    }

    .portfolio-contact .contact-bottom h3 {
        font-size: 1.5rem;
    }

    .about-content-1 h2,
    .services-content-1 h2 {
        font-size: 3.2rem;
    }

    .about-content-1 h1,
    .services-content-1 h1 {
        font-size: 8rem;
    }

    .about-content-main .about-text p {
        margin: 0 -2rem;
    }
}



@media (max-width: 650px) {

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6,
    .about-content-main,
    .services-content-main,
    .resume-content-main,
    .portfolio-content-main,
    .contact-content-main {
        padding: 50px;
        padding-left: 60px;
        padding-right: 65px;
    }

    .section-1,
    .about-content-main,
    .services-content-main,
    .resume-content-main,
    .portfolio-content-main,
    .contact-content-main {
        padding-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .home-content-2 .experience {
        display: flex;
        gap: 2.3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .home-content-2 .experience h3 {
        margin-top: 5px;
    }

    .home-content {
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.237), 0 0 20px rgba(0, 0, 0, 0.671);
    }

    .open-sidebar-section-left {
        height: 0;
    }

    .menu-icon {
        background: none;
        box-shadow: none;
    }

    .main-logo {
        display: none;
    }

    .sidebar-icons2 {
        background: none;
    }

    .sidebar-icons2 .tooltip {
        padding: 5px 10px;
        margin: 0 5px 10px;
        right: 25%;
        border-radius: 20%;
        backdrop-filter: blur(30px);
        border: 1px solid var(--sidebar-text-color);
        -webkit-backdrop-filter: blur(30px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.237), 0 0 20px rgba(0, 0, 0, 0.671);
    }

    .sidebar-icons2 .tooltip:focus {
        border: 1px solid var(--sidebar-text-color);
        transform: scale(1.1);
    }

    .sidebar-icons2 .game {
        right: 0;
    }

    .sidebar-icons2 .tooltip a {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .change-theme {
        right: 110%;
    }

    .tooltip {
        margin: 0;
    }

    .sidebar-section-left-icons {
        padding-bottom: 33px;
    }

    .top-nav {
        position: fixed;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 87px;
        z-index: 999;
        display: flex;
        background: var(--second-bg-color);
        border-bottom: 1px solid var(--main-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.237), 0 0 20px rgba(0, 0, 0, 0.671);
    }

    .top-nav .nav-main-logo a {
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0 50px;
        column-gap: 1rem;
        padding: 20px;
    }

    .top-nav .nav-main-logo img {
        width: 40px;
    }

    .top-nav .nav-main-logo h6 {
        font-size: 1.7rem;
        color: var(--main-color);
        font-family: 'Pacifico', cursive;
    }

    .home-content h3 {
        font-size: 5.5vw;
    }

    .home-content .btn-box a,
    .card_box .btn-box a,
    .about-content-main .about-text .btn-box a,
    .portfolio-contact-box .btn-box a,
    .contact-content-main .contact form .btn-box {
        font-size: 1.4rem;
    }

    .main span {
        font-size: 27px;
    }

    .open-sidebar i {
        font-size: 2.4rem;
    }

    .sidenav a,
    .sidenav .sidebar-icons i {
        font-size: 23px;
    }

    .services-content-main #popupOne.active3,
    .services-content-main #popupTwo.active3,
    .services-content-main #popupThree.active3,
    .services-content-main #popupFour.active3,
    .services-content-main #popupFive.active3,
    .services-content-main #popupSix.active3 {
        top: 55%;
        margin-left: 0rem;
        margin-right: -13rem;
    }

    .services-content-main .popup1 p {
        font-size: 1.5rem;
    }

    .portfolio-contact-box h1 {
        font-size: 5vw;
    }

    .contact-content-main .contact form .textarea-feild span,
    .contact-content-main .contact form .input-box span {
        border: 1px solid var(--second-bg-color);
    }

    .home-content-5 .logo-img img {
        width: 140px;
    }

    .tooltip-text {
        left: -15px;
        top: -40px;
    }

}










@media (max-width: 480px) {
    .home-content {
        padding: 27px;
    }
}




@media (max-width: 425px) {

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6,
    .about-content-main,
    .services-content-main,
    .resume-content-main,
    .portfolio-content-main,
    .contact-content-main {
        padding: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-1,
    .about-content-main,
    .services-content-main,
    .resume-content-main,
    .portfolio-content-main,
    .contact-content-main {
        padding-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .home-content {
        padding: 27px;
    }

    .home-content h3 {
        font-size: 6.5vw;
    }

    .home-content h4 {
        font-size: 1.4rem;
    }

    .home-content-2 .experience h3 {
        font-size: 1.5rem;
    }

    .home-content-2 .experience h2 {
        font-size: 2rem;
    }

    .about-content-1 h1,
    .services-content-1 h1 {
        font-size: 7rem;
    }

    .about-content-main .about-me img {
        width: 100%;
    }

    .portfolio-contact-box h1 {
        font-size: 6vw;
    }

    .contact-box-main .contact-box {
        margin: 3rem 0;
    }

}

@media (max-width: 375px) {

    .section-1 {
        padding-top: 90px;
    }

    .home-content h4 {
        font-size: 1.2rem;
    }

    .home-content h4 i {
        font-size: 1rem;
    }

    .home-content .btn-box a,
    .card_box .btn-box a,
    .about-content-main .about-text .btn-box a,
    .portfolio-contact-box .btn-box a,
    .contact-content-main .contact form .btn-box {
        font-size: 1.4rem;
    }

    .main span {
        font-size: 20px;
        padding: 19px;
    }


    .open-sidebar i {
        position: relative;
        left: -12px;
        padding: 20px;
        background: var(--bg-color);
        font-size: 28.5px;
    }

    .top-nav .nav-main-logo h6 {
        font-size: 1.3rem;
    }

    .top-nav .nav-main-logo img {
        width: 24px;
    }

    .top-nav {
        height: 67px;
    }

    .home-content-2 .experience h3 {
        font-size: 1.3rem;
    }

    .home-content-2 .experience h2 {
        font-size: 1.7rem;
    }

    .about-content-main .about-me img {
        width: 70vw;
    }

    .about-content-main .about-text h4 {
        line-height: 40px;
    }

    .about-content-1 h1,
    .services-content-1 h1 {
        font-size: 6rem;
    }

    .contact-box-main .contact-box .contact-div2 span {
        font-size: 1.2rem;
    }

    .contact-box-main .contact-box .contact-div1 h3 {
        font-size: 1.2rem;
        margin: 9px 0;
    }

    .contact-content-main .contact form .input-box .input-feild input,
    .contact-content-main .contact form .feild .item {
        font-size: 1.2rem;
    }

    form .input-box span {
        padding: 17px 15px;
    }

    .home-content-6 p {
        font-size: 1.4rem;
    }
}


@media (max-width: 320px) {

    .section-1,
    .about-content-main,
    .services-content-main,
    .resume-content-main,
    .portfolio-content-main,
    .contact-content-main {
        padding-top: 80px;
        padding-left: 10px;
        padding-right: 11px;
        padding-bottom: 1px;
    }

    .section-1 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-2 {
        padding: 35px;
    }

    .change-theme {
        width: 200px;
    }

    .change-theme form {
        padding: 14px;
    }

    .theme-color input[type="radio"] {
        width: 1.6rem;
        height: 1.6rem;
    }

    .theme-color .form-2 input[type="radio"] {
        width: .8rem;
        height: .8rem;
    }

    .change-theme h1 {
        font-size: 1.4rem;
    }

    .home-content {
        box-shadow: none;
        padding: 30px 18px;
    }

    .home-content h3 {
        font-size: 7.7vw;
    }

    .tooltip-text {
        left: -20px;
        top: -40px;
    }

    .main span {
        font-size: 20px;
        padding: 17px;
    }

    .open-sidebar i {
        position: relative;
        left: -12px;
        padding: 22.5px;
        background: var(--bg-color);
        font-size: 20px;
    }

    .top-nav .nav-main-logo h6 {
        font-size: 1.2rem;
    }

    .top-nav .nav-main-logo img {
        width: 24px;
    }

    .top-nav {
        height: 65px;
    }

    .about-content-1 h2,
    .services-content-1 h2 {
        font-size: 2.7rem;
    }

    .about-content-1 h1,
    .services-content-1 h1 {
        font-size: 6rem;
    }

    .card_box,
    .home-content-3 .service-box {
        margin: 3rem 0;
    }

    .home-content-5 .logo {
        margin: 4rem 0;
    }

    .sidebar-icons2 .game {
        font-size: 2rem;
    }

    .sidebar-icons2 a {
        font-size: 2.2rem;
    }

    .sidebar-icons2 {
        background: none;
        padding: 15px;
        padding-bottom: 9px;
    }

    .onclick-image .closebtn3 {
        font-size: 3rem;
    }

    .onclick-image .closebtn2 {
        font-size: 2.4rem;
    }

    .onclick-image .closebtn1 {
        font-size: 2.5rem;
    }

    .resume-skill-1,
    .resume-skill-2 {
        padding: 7px;
    }

    .contact-content-main .contact form .textarea-feild span,
    .contact-content-main .contact form .input-box span {
        padding: 17px 15px;
    }
}